<ul>
  <li>Practice Jumping Jack Flash with your eyes closed and your a popsicle in your mouth</li>
  <li>Run with your tongue hanging out of your mouth and call your mother</li>
  <li>Order a pizza with your mother while you listen to The Beatles</li>
  <li>Brush your teeth 3 times, drink plenty of water, and call me in the morning</li>
</ul>