<pre class="prettyprint">
  <h3>"Lost Cause" by Beck</h3>
  <h4>Chords</h4>
    <h5>Verse</h5>
    (F) Your sorry (C) eyes (pick C to C/B) (F) cut through the (C) bone (C to C/B)
    (F) They make it (C) hard (C to Am) to leave you (E) alone
    (F) Leave you (C) here (pick C to C/B) (F) wearing your (C) wounds (C to C/B)
    (F) Waving your (C) guns (C to Am) at somebody (E) new

    <h5>Chorus</h5>
    (F) Baby you?re a (G) lost
    (F) Baby you?re a (G) lost
    (F) Baby you?re A (G) lost (C)

    <h5>Chorus</h5>
    (F) I?m tired of (G) fighting
    (F) I?m tired of (G) fighting
    (F) (G) Fighting for A lost (C) cause

    <h5>Bridge</h5>
    (A) There?s a (F) place where you are (C) going
    (A) You ain?t (F) never been (C) before
    (A) No-one (F) left to watch your (C) back now (pick down to an F base)
    (F) No-one standing at your (C) door
    (F) Ain?t that?s what you thought love was (C) for
</pre>

<hr>

<pre class="prettyprint">
  <h3>"Lost Cause" by Beck</h3>
  <h4>Fingerpicking Pattern</h4>
  Normally for two guitars, but it's perfectly playable on one.
  There's a lot of improvisation in this song, but these are the basics:

  Intro & verses:
        Fmaj7       C            Em7
  e[-------------0-------------------------]
  B[----------1---------------1------------]
  G[--------2---------------0------0---0---]  (2x)
  D[------3-----------3---2----------0-----]
  A[----------------2---3--------2---------]
  E[----1----------------------------------]

  Play something like this at the end of each sentence:
        Fmaj7       C            Em7      Am         E7
  e[-------------0----------------------------------0-----------0---]
  B[----------1---------------1------------------1-----------3------]
  G[--------2---------------0------0---0-------2-----------1--------]
  D[------3-----------3---2----------0-------2-----------2----------]
  A[----------------2---3--------2--------0-------------------------]
  E[----1----------------------------------------------0------------]

  Chorus: a lot of variations on the Fmaj7 and G chords - here are two examples:
       Fmaj7            G                      Fmaj7        G
  e[------------------------------------]       e[--------------------------------]
  B[---------1----------------3---------]       B[---------1------------3-----0---]
  G[-------2-----2---2------0-----0-----]       G[-------2---2--------0---0-2-----]
  D[-----3---------3------0-----0---0---]       D[-----3------------0-------------]
  A[------------------------------------]       A[--------------------------------]
  E[---1----------------3---------------]       E[---1------------3---------------]

  End of the first chorus:
       Fmaj7        G          C
  e[--------------------------------------1-0------]
  B[---------1-----------(3)-------1-----------1---]
  G[-------2---2--------0--------0-------------0---]
  D[-----3------------0--------2---------------2---]
  A[-----------------------------------------------]
  E[---1------------3------------------------------]

  ---> 2nd verse
  ---> 2nd chorus, which ends like this:

       Fmaj7        G          C        A7
  e[------------0-----------------------------3-0--]
  B[---------1------------3--------1--------2-2----]
  G[-------2------------0--------0--------2---2----]
  D[-----3------------0--------2-------------------]
  A[------------------------------------0----------]
  E[---1------------3------------------------------]

  Then there's an interlude (I’m tired of fighting) – but it just uses the same
  chords as the chorus. It ends like this:

       Fmaj7        G        C
  e[------------0--------------------1-0-------0------0----]
  B[---------1------------3------3-1-----3-2h3---1---3--1--]
  G[-------2------------0----------------------------------]
  D[-----3------------0--------2---------------------------]
  A[-------------------------3-----------------------------]
  E[---1------------3--------------------------------------]


  Bridge:
      A            F             C           Cadd9
  e[-----------0------------0-------------0--------0-------]
  B[--------2------------1-------------1-------------3-----]
  G[------2------------2-------------0-----------0---------]
  D[----2------------3-------------2-----------2-----------]
  A[--0--------------------------3-----------3-------------]
  E[---------------1---------------------------------------]

      A            F             C
  e[-----------0------------0------------0------------------]
  B[--------2------------1-------------1------1-------------]
  G[------2------------2-------------0---------------0------]
  D[----2------------3-------------2---------------------0--]
  A[--0--------------------------3----------3----3-2---2----]
  E[---------------1----------------------------------------]

  Then A/F/C again, and end with:

      F            F             C
  e[-----------0------------0------------0--------0---------]
  B[--------1------------1-------------1------------1-------]
  G[------2------------2-------------0----------0-----------]
  D[----3------------3-------------2----------2-------------]
  A[-----------------------------3----------3---------------]
  E[--1------------1----------------------------------------]

  Then the 3rd chorus (about the same as the 2nd) and again the interlude
  with the chorus chords. It ends like this:

       Fmaj7        G        C
  e[---------0----------------------------------------------------]
  B[------------1---------3--------1--3h5--1---[---Random---]--1--]
  G[-------2------------0--------0-------------[--fingering-]--0--]
  D[-----3------------0--------2---------------[----on-C----]--2--]
  A[-------------------------3---------------------------------3--]
  E[---1------------3---------------------------------------------]
</pre>