<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <iframe src="http://player.vimeo.com/video/41243881?title=0&amp;byline=0&amp;portrait=0&amp;color=be5045" width="400" height="219" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <div class="caption">
        <h5>Right Hand Thumb Technique</h5>
        <p>This video shows the alternating picking style that you want to use with your thumb on the G-chord.</p>
      </div>
    </div>
  </li>
  
  <li class="span4">
    <div class="thumbnail">
      <iframe src="http://player.vimeo.com/video/42515567?title=0&amp;byline=0&amp;portrait=0&amp;color=be5045" width="400" height="219" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <div class="caption">
        <h5>How to make a G Chord</h5>
        <p>If it's easier to incorporate your index finger, then you might be more comfortable with this approach.</p>
      </div>
    </div>
  </li>
  
  <li class="span4">
    <div class="thumbnail">
      <iframe src="http://player.vimeo.com/video/42515567?title=0&amp;byline=0&amp;portrait=0&amp;color=be5045" width="400" height="219" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <div class="caption">
        <h5>Alternatives to Thumb Picking</h5>
        <p>If it's easier to incorporate your index finger, then you might be more comfortable with this approach.</p>
      </div>
    </div>
  </li>
</ul>